.p {
    font-weight: bold;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

.about-section {
    background-color: royalblue;
}

.about-div {
    display: flex;
    justify-content: center;
}

